---
import ButtonPrimary from '../components/ButtonPrimary.astro';
import ButtonSecondary from '../components/ButtonSecondary.astro';
---

<section class="mt-30 text-center">
  <h1 class="text-5xl font-semibold tracking-[-0.02em]">sonner-astro</h1>
  <p class="text-lg font-normal text-gray-700 text-balance mt-4 leading-tight">
    An opinionated toast component for <span class="text-green-700">Astro</span>
    <span class="text-red-700 line-through">React</span>. <br> Ported from
    <a href="https://github.com/emilkowalski/sonner" target="_blank" rel="noopener noreferrer" class="underline hover:text-blue-500" style="transition: color 200ms cubic-bezier(0.23, 1, 0.32, 1)">emilkowalski/sonner</a>
  </p>

  <div class="flex gap-4 justify-center mt-8">
    <ButtonPrimary id="hero-toast-btn">Render a toast</ButtonPrimary>
    <ButtonSecondary>GitHub</ButtonSecondary>
  </div>
</section>

<script>
  import { toast } from 'sonner-astro';
  import { getToastOpts } from '../preview-state';

  document.getElementById('hero-toast-btn')?.addEventListener('click', () => {
    toast('sonner-astro', {
      description: 'An opinionated toast component for Astro',
      ...getToastOpts(),
    });
  });
</script>
