---
import Title from '../components/Title.astro';
import P from '../components/P.astro';
import CodeBlock from '../components/CodeBlock.astro';
---

<section class="mt-30">
  <Title>Installation</Title>
  <P>Install sonner-astro by pasting this command in your terminal:</P>
  <div class="mt-4">
    <CodeBlock code="npm install sonner-astro" class="text-[16px]" alwaysShowCopy />
  </div>
</section>
