@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
  scrollbar-gutter: stable both-edges;
  background: #fff;
  color: #050505;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
